body {
    max-width: 1000px;
    margin: auto;
    background-color:rgb(247, 231, 212);
}

/* Main page style */

.home-heading {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 42px;
    color: rgb(244, 79, 79);
}

.recipe-list {
    list-style-type: none;
    padding-left: 0;
}

.recipe-list-item {
    font-family: Georgia, serif;
    font-size: 20px;
    background-color: rgba(233, 172, 98, 0.2);
    margin: 8px 0;
    padding: 16px;
}

.recipe-list-item:hover {
    background-color: rgba(243, 151, 38, 0.25);
}

.page-link {
    color: rgb(226, 43, 43);
    padding: 16px 8px;
}

.page-link:visited {
    color: rgb(143, 35, 35)
}

.page-link:hover {
    color: rgb(239, 83, 83);
    text-decoration: none;
}

.page-link:active {
    color: rgb(239, 83, 83);
    text-decoration: none;
}

/* Recipe pages styles */

.recipe-heading {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: rgb(232, 63, 63);
}

.subheading {
    color: rgb(232, 63, 63);
    font-size: 24px;
}

.content {
    font-size: 20px;
}

.home-link {
    padding: 1px;
}

.home-link:visited {
    color: rgb(226, 43, 43);
}

::marker {
    color: rgb(232, 63, 63);
}

.source-link {
    padding: 0;
}